<a href="https://colab.research.google.com/github/tanisha1407/PYTHON--notebooks/blob/master/27_08_2024_LOOP_QUESTIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write a loop to calculate the factorial of a number provided by the user.

In [ ]:
a=int(input("enter a number"))
for i in range(1,a):
  a=a*i
print(a)

enter a number7
5040

write a while loop that asks the user to enter a number and stops when number is zero.

In [ ]:
a=int(input('enter a number'))
while a!=0:
  a=int(input('enter a number'))

enter a number8
enter a number9
enter a number0

write a for loop to iterate over a list of strings and print each string in uppercase

In [ ]:
l=['tanisha','ayush','megha']
for i in l:
  print(i.upper())

TANISHA
AYUSH
MEGHA

write a while loop to reverse a number provided by a user

In [6]:
a=int(input('enter a number'))
rev=0
while a!=0:
  rev=rev*10+a%10
  a=a//10
print(rev)

enter a number45678
87654

provide an example where you use a for loop inside a while loop

In [ ]:
a = int(input("Enter a number: "))
while a > 0:
  sum = 0
  for i in range(1, a + 1):
    sum += i
  print("Sum of numbers till", a, "is", sum)
  a = int(input("Enter a number: "))

Enter a number: 6
Sum of numbers till 6 is 21
Enter a number: 7
Sum of numbers till 7 is 28
Enter a number: 0

write a for loop to print the fibonacci series upto n terms, where n is provived by user

In [ ]:
n=int(input('enter a number'))
a=0
b=1
for i in range(n):
  print(a)
  c=a+b
  a=b
  b=c

enter a number7
0
1
1
2
3
5
8

write a for loop that iterates over a dictionary and prints the key value pairs in format key:value

In [ ]:
dict={'a':'1','b':'2','c':'3'}
for i in dict.items():
  print(i)

('a', '1')
('b', '2')
('c', '3')

write a while loop to sum the digits of a positive integer provided by user

In [ ]:
a=int(input('enter a number'))
sum=0
while a!=0:
  sum=sum+a%10
  a=a//10
print(sum)

enter a number345
12

write a for loop to print all prime numbers between 2 and 50.

In [5]:
for i in range(2,50):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

write a for loop to reverse a string provided by the user without using built in funtion

In [7]:
a=input('enter a string')
b=""
for i in a:
  b=i+b
print(b)


#using range function:

x=input('enter a string')
for i in range(len(x)-1,-1,-1):
  print(x[i],end="")

enter a stringtanisha
ahsinat
enter a stringayush
hsuya

given a list of words,write a for loop to find longest word and its length

In [8]:
words = ['apple', 'banana', 'pineapple', 'grape']
longest_word = ''
max_length = 0

for word in words:
    if len(word) > max_length:
        longest_word = word
        max_length = len(word)

print(f"Longest word: {longest_word}, Length: {max_length}")

Longest word: pineapple, Length: 9