<a href="https://colab.research.google.com/github/tanisha1407/python-notebooks/blob/master/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question: What will be the output of the following code?


x = 5,

y = 3.2,

z = "Hello",

print(x + y),

print(z + " WORLD"),

In [ ]:
x=5
y=3.2
z="Hello"
print(x+y)
print(z+"WORLD")

8.2
HelloWORLD

Question: Write a Python function is_even that takes an integer as an argument and returns True if
the number is even, and False otherwise.




def is_even(num):
return num % 2 == 0

Question:What will be the result of the following expression?

result = 10 % 3

print(result)

In [ ]:
result=10%3
print(result)

1

Question: What does the expression 7 != 5 evaluate to?

In [ ]:
print(7!=5)

True

Question: What will be the result of the following expression?

x = True

y = False

result = x and y

print(result)

In [ ]:
x = True

y = False

result = x and y

print(result)

False

Question: What will be the value of a after the following code is executed?

a = 5

a += 3

In [ ]:
a=5
a+=3
print(a)

8

Question: What is the result of the following operation?

greeting = "Hello," + "World!"

print(greeting)

In [ ]:
gretting="Hello,"+"World!"
print(gretting)

Hello,World!

Question: What will be the result of the following code?

repeated = "Python" * 3 print(repeated)

In [ ]:
repeated="Python"*3
print(repeated)

PythonPythonPython

Question: What will be the result of converting the string "42" to an integer and adding 8?

number = int("42") + 8

print(number)

In [ ]:
number=int("42")+8
print(number)

50

Question: What will be the result of the following code?

result = 17 // 4

print(result)

In [ ]:
result=17//4
print(result)

4