<a href="https://colab.research.google.com/github/tanisha1407/PYTHON--notebooks/blob/master/ASSIGNMENT_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION---CREATE A STRING AND PERFORM INDEXING ANS SLICING OVER IT.**

In [ ]:
a='assignment3'
#indexing
print(a[5])
print(a[9])
print(a[-3])
print(a[-8])
print(a[7])
print(a[0])
#slicing
print(a[1:5:1])
print(a[-1:-7:-1])
print(a[::-1])
print(a[3:9:2])
print(a[0:9:2])
print(a[-1:-9:3])

n
t
n
i
e
a
ssig
3tnemn
3tnemngissa
ine
asgmn

**QUESTION---CREATE A DICTIONARY AND PERFORM VARIOUS OPERATION OVER IT.**

In [ ]:
a=dict(company='INFOSYS',location='INDORE,MP',employee_count=100,hr='MR.JAIN',manager= 'MR.SHARMA',office_count=3,departments=7) #by using constructor
print(a)
print(a.get('company')) #by using get()
print(a['location']) #by using []
print(a.get('employee_count'))
print(a.get('pincode','try something else')) #pincode isn't there so try something else will be output
a['office_count']=5  #updating key value
a['departments']=9
print(a)
a['hod_count']=7 #adding key
a['email']='infosys.indore@gmail.com' #adding key
print(a)
print(a.keys()) #printing all keys
print(a.values()) #printing all values
print(a.items()) #printing all key value paira
print(a.update({'pincode':452001,'area':'vijay nagar','contact':1122334455})) #updating key value pairs
print(a)
del a['hod_count'] #deleting key
print(a)
x=a.pop('email') #printing deleted key as a variable
print(x)
print(a)
a.clear() #clearing dictionary
print(a)

{'company': 'INFOSYS', 'location': 'INDORE,MP', 'employee_count': 100, 'hr': 'MR.JAIN', 'manager': 'MR.SHARMA', 'office_count': 3, 'departments': 7}
INFOSYS
INDORE,MP
100
try something else
{'company': 'INFOSYS', 'location': 'INDORE,MP', 'employee_count': 100, 'hr': 'MR.JAIN', 'manager': 'MR.SHARMA', 'office_count': 5, 'departments': 9}
{'company': 'INFOSYS', 'location': 'INDORE,MP', 'employee_count': 100, 'hr': 'MR.JAIN', 'manager': 'MR.SHARMA', 'office_count': 5, 'departments': 9, 'hod_count': 7, 'email': 'infosys.indore@gmail.com'}
dict_keys(['company', 'location', 'employee_count', 'hr', 'manager', 'office_count', 'departments', 'hod_count', 'email'])
dict_values(['INFOSYS', 'INDORE,MP', 100, 'MR.JAIN', 'MR.SHARMA', 5, 9, 7, 'infosys.indore@gmail.com'])
dict_items([('company', 'INFOSYS'), ('location', 'INDORE,MP'), ('employee_count', 100), ('hr', 'MR.JAIN'), ('manager', 'MR.SHARMA'), ('office_count', 5), ('departments', 9), ('hod_count', 7), ('email', 'infosys.indore@gmail.com')])
None
{'company': 'INFOSYS', 'location': 'INDORE,MP', 'employee_count': 100, 'hr': 'MR.JAIN', 'manager': 'MR.SHARMA', 'office_count': 5, 'departments': 9, 'hod_count': 7, 'email': 'infosys.indore@gmail.com', 'pincode': 452001, 'area': 'vijay nagar', 'contact': 1122334455}
{'company': 'INFOSYS', 'location': 'INDORE,MP', 'employee_count': 100, 'hr': 'MR.JAIN', 'manager': 'MR.SHARMA', 'office_count': 5, 'departments': 9, 'email': 'infosys.indore@gmail.com', 'pincode': 452001, 'area': 'vijay nagar', 'contact': 1122334455}
infosys.indore@gmail.com
{'company': 'INFOSYS', 'location': 'INDORE,MP', 'employee_count': 100, 'hr': 'MR.JAIN', 'manager': 'MR.SHARMA', 'office_count': 5, 'departments': 9, 'pincode': 452001, 'area': 'vijay nagar', 'contact': 1122334455}
{}

**QUESTION---WRITE AN EXAMPLE FOR BOOL DATA TYPE.**

In [ ]:
a=True
b=False
print(a)
print(b)
print(type(a))
print(type(b))
x=(1==3)
y=(1==1)
print(x)
print(y)
print(type(x))
print(type(y))

True
False
<class 'bool'>
<class 'bool'>
False
True
<class 'bool'>
<class 'bool'>

**QUESTION---WRITE AN EXAMPLE FOR NONE DATA TYPE.**

In [ ]:
a=None
print(a)
print(type(a))

None
<class 'NoneType'>