<a href="https://colab.research.google.com/github/tanisha1407/python-notebooks/blob/master/ASSIGNMENT_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION---Perform division between two numbers and then use the floor division (//) operator to get the
integer result.

In [ ]:
a=20
b=3
c=a/b
print('by division we get=',c)
d=a//b
print('by floor division we get=',d)

by division we get= 6.666666666666667
by floor division we get= 6

QUESTION---Compare two floating-point numbers using == to check if they are approximately equal. Consider
using round() for comparison.

In [ ]:
a=round(344.99)
b=round(345.00)
print(a==b)
x=round(344.22)
y=round(345.000)
print(x==y)

True
False

QUESTION---Given two boolean variables, use and and or to determine all possible outcomes (e.g., True and
False).

In [ ]:
a=True
b=False
print(a and b)
print(a or b)
a=True
b=True
print(a and b)
print(a or b)
a=False
b=True
print(a and b)
print(a or b)
a=False
b=False
print(a and b)
print(a or b)
print(type(a))
print(type(b))

False
True
True
True
False
True
False
False
<class 'bool'>
<class 'bool'>

QUESTION---Use the bitwise OR (|) operator to combine two integer values.

In [ ]:
a=5
b=9
c=a|b
print(c)

13

QUESTION---Concatenate two strings without using the + operator (hint: use join()).

In [ ]:
a='this is'
b='python'
c='assignment 4'
d=' '.join([a,b,c])
print(d)

this is python assignment 4

QUESTION---Format a string using f-strings to include variables within the string.

In [ ]:
a='this is'
b='python'
c='assignment 4'
print(f'{a} {b} {c}')

this is python assignment 4

QUESTION---Slice a string to extract the first three characters.

In [ ]:
a='question'
print(a[:3:])

que

QUESTION---Convert a string like &quot;123&quot; into an integer using int().

In [ ]:
a='123'
b=int(a)
print(b)
print(type(b))

123
<class 'int'>

QUESTION---Access the value of a key from a nested dictionary (e.g., d = {'key1': {'key2':'value'}}).

In [ ]:
#d={'key1':{'key2':'value'}}
#accesing element in nested dictionary using  syntax:dictionaryname['key1']['key2 (which is value of key 1)']
d = {'customer': {'name':'tanisha'}}
print(d['customer']['name'])

tanisha

QUESTION---Access the last element of a list using negative indexing.

In [ ]:
a=[1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex']
print('last element=',a[-1])

last element= regex

QUESTION---Slice a list to get every second element from the start to the end.

In [ ]:
a=[1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex']
print(a[::2])

[1, 9, 6.9, 4, 33, 'regex']

QUESTION---Concatenate two lists using the + operator.

In [ ]:
a=[1,2,3,4,5,6]
b=[7,8,9,10,11,12]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

QUESTION---Replicate the elements of a list three times using the * operator.

In [ ]:
a=[1,2,3,4,5,6]
print(a*3)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

QUESTION---Check if an element exists in a list using the in operator.

In [ ]:
a=[1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex']
print(11 in a)
print('tanisha' in a)
print(22 in a)

True
True
False

QUESTION---Sort a list in ascending order using the sorted() function.

In [ ]:
a=[10,0,8,5,6.6,3,2.4,5.6,77,89,33,100,0.1]
print(sorted(a))

[0, 0.1, 2.4, 3, 5, 5.6, 6.6, 8, 10, 33, 77, 89, 100]

QUESTION---Retrieve the index of the first occurrence of a value in a list using the index() method.

In [ ]:
a=[1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex','tanisha',44,'tanisha',55,'yellow',9,9]
print(a.index('tanisha'))
print(a.index(9))
print(a.index('yellow'))

1
2
3

QUESTION---Access a sublist by slicing from the second element to the fourth element (inclusive).

In [ ]:
a=[1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex',44,'tanisha',55,'yellow',9,9]
print('sublist from second to fourth element=',a[1:4:])

sublist from second to fourth element= ['tanisha', 9, 'yellow']

QUESTION---Determine the number of elements in a list using the len() function.

In [ ]:
a=[1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex',44,'tanisha',55,'yellow',9,9]
print('no. of elements of a=',len(a))

no. of elements of a= 17

QUESTION---Combine multiple lists into a single list using list unpacking.

In [ ]:
a=[1,2,3,4,5,6]
b=[7,8,9,10,11,12]
c=[13,14,15,16,17,18]
print([*a,*b,*c]) # * is used for combining list or unpacking of lists in python with syntax:[*list1,*list2,*list3,.....]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

QUESTION---Create a tuple from a list using tuple().

In [ ]:
a=[1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex',44,'tanisha',55,'yellow',9,9]
b=tuple(a)
print(b)
print(type(b))

(1, 'tanisha', 9, 'yellow', 6.9, 2, 4, 'python', 33, 11, 'regex', 44, 'tanisha', 55, 'yellow', 9, 9)
<class 'tuple'>

QUESTION---Access the third element in a tuple.

In [ ]:
a=(1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex',44,'tanisha',55,'yellow',9,9)
print(a[2]) #accesing third element whose index is 2

9

QUESTION---Replicate a tuple multiple times using the * operator.

In [ ]:
a=(1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex',44,'tanisha',55,'yellow',9,9)
print(a*5)

(1, 'tanisha', 9, 'yellow', 6.9, 2, 4, 'python', 33, 11, 'regex', 44, 'tanisha', 55, 'yellow', 9, 9, 1, 'tanisha', 9, 'yellow', 6.9, 2, 4, 'python', 33, 11, 'regex', 44, 'tanisha', 55, 'yellow', 9, 9, 1, 'tanisha', 9, 'yellow', 6.9, 2, 4, 'python', 33, 11, 'regex', 44, 'tanisha', 55, 'yellow', 9, 9, 1, 'tanisha', 9, 'yellow', 6.9, 2, 4, 'python', 33, 11, 'regex', 44, 'tanisha', 55, 'yellow', 9, 9, 1, 'tanisha', 9, 'yellow', 6.9, 2, 4, 'python', 33, 11, 'regex', 44, 'tanisha', 55, 'yellow', 9, 9)

QUESTION---Check if a element is in tuple using in operator.

In [ ]:
a=(1,'tanisha',9,'yellow',6.9,2,4,'python',33,11,'regex',44,'tanisha',55,'yellow',9,9)
print(11 in a)
print('tanisha' in a)
print('zebra' in a)
print(22 in a)

True
True
False
False

QUESION---Retrive all keys from a dictionary using key() method.

In [ ]:
a=dict(name='tanisha',age=20,gender='female',course='data science',institute='regex')
print(a.keys())

dict_keys(['name', 'age', 'gender', 'course', 'institute'])

QUESION---Retrive all values from a dictionary using values() method

In [ ]:
a=dict(name='tanisha',age=20,gender='female',course='data science',institute='regex')
print(a.values())

dict_values(['tanisha', 20, 'female', 'data science', 'regex'])

QUESTION---Update the value of a key in a dictionary using assignment (e.g., d[key] = new_value).

In [ ]:
a=dict(name='tanisha',age=20,gender='female',course='data science',institute='regex')
a['age']=21
a['course']='python'
print(a)

{'name': 'tanisha', 'age': 21, 'gender': 'female', 'course': 'python', 'institute': 'regex'}

QUESTION---Subtract two numbers and then raise the result to the power of 3 using the ** operator

In [ ]:
a=10
b=5
c=a-b
print(c**3)

125

QUESTION---Given two strings, check if one string is greater than the other using the > operator.

In [ ]:
a='tanisha'
b='regexsoftware'
print(a>b)
print(b>a)

True
False

QUESTION---Combine three conditions using and, or, and not to evaluate whether a specific combination of
boolean values is true.

In [ ]:
a=True
b=False
c=True
print(a and b ) or (not c)

False

False

QUESTION---Create a dictionary and use all the built in functions.

In [ ]:
a=dict(school='SVIS',teacher_count=45,student_count=3000, classes='nursery to 12th',principal='MRS. SHARMA',location='indore',email='svis@gmail.com',contact=1112223331,website='svis.com')
print('our dictionary=',a)
print('All keys=',a.keys())
print('All values=',a.values())
print('All items=',a.items())
print('updating no. of branches and vice principal and chairman name of our dictionary')
a.update({'no. of branch':3,'vice principal':'MR. SINGH','chairman name':'MR. GUPTA'})
print('updated dictionary=',a)
print(a.clear())
print('dictionary after clearing=',a)

our dictionary= {'school': 'SVIS', 'teacher_count': 45, 'student_count': 3000, 'classes': 'nursery to 12th', 'principal': 'MRS. SHARMA', 'location': 'indore', 'email': 'svis@gmail.com', 'contact': 1112223331, 'website': 'svis.com'}
All keys= dict_keys(['school', 'teacher_count', 'student_count', 'classes', 'principal', 'location', 'email', 'contact', 'website'])
All values= dict_values(['SVIS', 45, 3000, 'nursery to 12th', 'MRS. SHARMA', 'indore', 'svis@gmail.com', 1112223331, 'svis.com'])
All items= dict_items([('school', 'SVIS'), ('teacher_count', 45), ('student_count', 3000), ('classes', 'nursery to 12th'), ('principal', 'MRS. SHARMA'), ('location', 'indore'), ('email', 'svis@gmail.com'), ('contact', 1112223331), ('website', 'svis.com')])
updating no. of branches and vice principal and chairman name of our dictionary
updated dictionary= {'school': 'SVIS', 'teacher_count': 45, 'student_count': 3000, 'classes': 'nursery to 12th', 'principal': 'MRS. SHARMA', 'location': 'indore', 'email': 'svis@gmail.com', 'contact': 1112223331, 'website': 'svis.com', 'no. of branch': 3, 'vice principal': 'MR. SINGH', 'chairman name': 'MR. GUPTA'}
None
dictionary after clearing= {}