<a href="https://colab.research.google.com/github/tanisha1407/PYTHON--notebooks/blob/master/data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA TYPES**


---NUMERIC DATA TYPE= int,float,complex

---MAPPING DATA TYPE=dictionaries

---CHARATCER DATA TYPE= string,list,tuple

---NONE DATA TYPE= none

---BOOLEAN DATA TYPE= true or false

--SET DAATA TYPE

type keyword showS the class or type of data

In [ ]:
a=4
print(type(a))
a=4.2
print(type(a))
a=4+2j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
d='jaipur'
print(type(d))

<class 'str'>

In [ ]:
A=[1,2,3,4]
print(type(A))

<class 'list'>

In [ ]:
B=(1,2,3,4)
print(type(B))

<class 'tuple'>

In [ ]:
D={'name':'tanisha','city':'jaipur'}
print(type(D))

<class 'dict'>

In [ ]:
a=None
print(type(a))

<class 'NoneType'>

In [1]:
a={1,2,4,5}
print(type(a))

<class 'set'>