<a href="https://colab.research.google.com/github/tanisha1407/PYTHON--notebooks/blob/master/LIST_AND_TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST AND TUPLE**

### list

starts with square bracket and all the elements are separated by coma

we can add any data type in a list

it is a mutable data type i.e any changes can be made

slower than tuple because it is dynamic(changes can be made in this)

it is ordered collection and this order cannott be changed

In [ ]:
f=[1,2,3,1.4,5,'tani']
print(type(f))

<class 'list'>

### tuple

starts with parenthesis() and elements are separated by coma

it is faster than list because it is static

it is immutable and no changes can be made

also an ordered collection

In [ ]:
g=(1,2,3,4,5)
print(type(g))

<class 'tuple'>

***OPERATION ON LIST***

> Add blockquote



-append

-insert

-extend

-pop

-remove

-index

-sort

-reverse

-copy

-clear

-slicing

**INDEXING**

In [ ]:
f=[1,2.5,3,4,'tanisha',5]
print(f[-6])
print(f[0:5])   #slicing
print(f[0:5:2]) #slicing with stepsize
print(g[2:6:2]) #here apfter apple 3.8 was to be printed but its out of perimterr so skipped
print(g[4:11:3])

1
[1, 2.5, 3, 4, 'tanisha']
[1, 3, 'tanisha']

**SLICING**

to takee out some particular part of list

syntax:print(listname[start_index:last_element+1index:stepsize(if you want to skip some element no.of element+1)])

In [ ]:
g=[1,2,3.6,4,'apple',2,3.8,9.8,10,'guava',34,'jaipur']
print(g[-1:-5:-1])#negative slicing needs negative stepsize
print(g[-1:-4:-2])
print(g[-3:-8:-2])
print(g[-3:-8:-2])
print(g[-2:-8:2])
print(g[-4:-1:-2])#empty output because step ccount is in left
print(g[-4:-1:1])
print(g[-2:-6:-3])
print(g[1:8:-2])#empty output because positive indexing and negative step size

['jaipur', 34, 'guava', 10]
['jaipur', 'guava']
['guava', 9.8, 2]
['guava', 9.8, 2]
[]
[]
[10, 'guava', 34]
[34, 9.8]
[]

**APPEND**

to add any single element at last of the list

syntax:listname.append(element)

In [ ]:
a=[1,3.4,5]
a.append(6)
print(a)
a.append('tanisha')
print(a)

[1, 3.4, 5, 6]

**EXTEND**

to add multiple elements at end of list

syntax:listname.extend([element,element...])

In [ ]:
a=[1,3.4,5]
a.extend([6,'tanisha'])
print(a)

[1, 3.4, 5, 6, 'tanisha']

**INSERT**

to add element at any index in the list

syntax: listname.insert(index,element)

In [ ]:
a=[1,3.4,5]
a.insert(1,'tanisha')
print(a)

[1, 'tanisha', 3.4, 5]

**REMOVE**

to remove any element from list

syntax: listname.remove(element)

if element is reperated then the first one occuring will get removed

if no arguement given then it gives error because atleat one arguement is required

In [ ]:
a=[1,2,4,1,2]
a.remove(2)
print(a)

[1, 4, 1, 2]

**POP**

removes any element by its index

syntax:listname.pop(index of element)

if not arguement given it removes last element of list

In [ ]:
a=[1,3.4,5,'tanisha']
a.pop(3)
print(a)

[1, 3.4, 5]

**CLEAR**

clears all elements of list

syntax:listname.clear()

this takes no arguement

In [ ]:
a=[1,2,4,1,2]
a.clear()
print(a)

[]

**SORT**

to sort the list either in ascending or descending order

syntax:listname.sort()#ascending

syntax:listname.sort(reverse=true)#descending

a list with both int and string elements cant be sorted

In [ ]:
a=[1,15,4,3.4,10,11,12,13]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[1, 3.4, 4, 10, 11, 12, 13, 15]
[15, 13, 12, 11, 10, 4, 3.4, 1]

**REVERSE**

reverses the list

syntax:listname.reverse()

accepts all data types

In [ ]:
a=[1,15,4,'tanisha',3.4,10,11,12,13]
a.reverse()
print(a)

[13, 12, 11, 10, 3.4, 'tanisha', 4, 15, 1]

**COPY**

copies a list1 into another list2

syntax:
list2=list1.copy()

In [ ]:
a=[1,15,4,'tanisha',3.4,10,11,12,13]
b=a.copy()
print(b)

[1, 15, 4, 'tanisha', 3.4, 10, 11, 12, 13]

**COUNT**

counts the element occurence

syntax:listname.count(element)

In [ ]:
a=[1,15,4,'apple',3.4,10,11,12,13,13]
print(a.count(13))
print(a.count('apple'))

2
1

**LEN**

counts the element of a list

syntax:len(listname)

In [ ]:
a=[1,15,4,'apple',3.4,10,11,12,13]
print(len(a))

9

**MIN AND MAX**

gives the mininum  and maximum element in a list

syntax:min(listname)

syntax:max(listname)

In [ ]:
a=[1,15,4,3.4,10,11,12,13]
print(min(a))
print(max(a))

1
15

**INDEX**

gives the index of any element

syntax:listname.index(element,[start index for search],[end index for search])

starting and ending are optional if you want

In [ ]:
a=[1,15,4,'apple',3.4,10,11,12,13]
print(a.index('apple'))
print(a.index(11,3,7))

3
6

In [ ]:
a=[1,15,4,'apple',3.4,10,11,12,13]
print('a=',a)
print('--append 14 at end')
a.append(14)
print(a)
print('--extend 2.3 and 1.3 at end')
a.extend([2.3,1.3])
print(a)
print('--inserting--this is a list at 5th index')
a.insert(5,'this is a list')
print(a)
print('-- removing--this is a list')
a.remove('this is a list')
print(a)
print('--removing 5th index')
a.pop(5)
print(a)
print('--clearing a')
a.clear()
print(a)
x=[1,15,4,3.4,10,11,12,13,1,2,1,1,3,1,1,1]
print('x=',x)
print('--sorting in ascending order')
x.sort()
print(x)
print('--sorting in descending order')
x.sort(reverse=True)
print('--reversing x')
print(x)
x.reverse()
print(x)
print('--copying x into y')
y=x.copy()
print(y)
print('--count no of times  1 is occuring')
print(x.count(1))
print('--length of x')
print(len(x))
print('--minimum of x')
print(min(x))
print('--maximum of x')
print(max(x))
print('--index of 13')
print(x.index(13))

a= [1, 15, 4, 'apple', 3.4, 10, 11, 12, 13]
--append 14 at end
[1, 15, 4, 'apple', 3.4, 10, 11, 12, 13, 14]
--extend 2.3 and 1.3 at end
[1, 15, 4, 'apple', 3.4, 10, 11, 12, 13, 14, 2.3, 1.3]
--inserting--this is a list at 5th index
[1, 15, 4, 'apple', 3.4, 'this is a list', 10, 11, 12, 13, 14, 2.3, 1.3]
-- removing--this is a list
[1, 15, 4, 'apple', 3.4, 10, 11, 12, 13, 14, 2.3, 1.3]
--removing 5th index
[1, 15, 4, 'apple', 3.4, 11, 12, 13, 14, 2.3, 1.3]
--clearing a
[]
x= [1, 15, 4, 3.4, 10, 11, 12, 13, 1, 2, 1, 1, 3, 1, 1, 1]
--sorting in ascending order
[1, 1, 1, 1, 1, 1, 1, 2, 3, 3.4, 4, 10, 11, 12, 13, 15]
--sorting in descending order
--reversing x
[15, 13, 12, 11, 10, 4, 3.4, 3, 2, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 2, 3, 3.4, 4, 10, 11, 12, 13, 15]
--copying x into y
[1, 1, 1, 1, 1, 1, 1, 2, 3, 3.4, 4, 10, 11, 12, 13, 15]
--count no of times  1 is occuring
7
--length of x
16
--minimum of x
1
--maximum of x
15
--index of 13
14

In [ ]:
a=[1,'tani',2,3,4,5,1.2,1.2,1.2,3.4,5.6,10,'red','list is mine']
print('a=',a)
print(a.append(9))

print(a.extend([10,11,12]))

print(a.insert(7,2.3))

print(a.pop(1))

print(a.remove('red'))

print(a.remove('list is mine'))

print(max(a))
print(min(a))
print(a.sort())
print(a.sort(reverse=True))
print(aa.reverse())
print(a)
b=a.copy()
print('b=',b)
print(a.count(1.2))
print(len(a))
print(a.index(5))

None
[1, 'tani', 2, 3, 4, 5, 1.2, 1.2, 1.2, 3.4, 5.6, 10, 'red', 'list is mine', 9]
None
[1, 'tani', 2, 3, 4, 5, 1.2, 1.2, 1.2, 3.4, 5.6, 10, 'red', 'list is mine', 9, 10, 11, 12]
None
[1, 'tani', 2, 3, 4, 5, 1.2, 2.3, 1.2, 1.2, 3.4, 5.6, 10, 'red', 'list is mine', 9, 10, 11, 12]
tani
[1, 2, 3, 4, 5, 1.2, 2.3, 1.2, 1.2, 3.4, 5.6, 10, 'red', 'list is mine', 9, 10, 11, 12]
None
[1, 2, 3, 4, 5, 1.2, 2.3, 1.2, 1.2, 3.4, 5.6, 10, 'list is mine', 9, 10, 11, 12]
None
[1, 2, 3, 4, 5, 1.2, 2.3, 1.2, 1.2, 3.4, 5.6, 10, 9, 10, 11, 12]
12
1
[1, 1.2, 1.2, 1.2, 2, 2.3, 3, 3.4, 4, 5, 5.6, 9, 10, 10, 11, 12]
[12, 11, 10, 10, 9, 5.6, 5, 4, 3.4, 3, 2.3, 2, 1.2, 1.2, 1.2, 1]
[1, 1.2, 1.2, 1.2, 2, 2.3, 3, 3.4, 4, 5, 5.6, 9, 10, 10, 11, 12]
b= [1, 1.2, 1.2, 1.2, 2, 2.3, 3, 3.4, 4, 5, 5.6, 9, 10, 10, 11, 12]
3
16
9

**OPERATION ON TUPLE**

only count and index operation work on tuple in same way as lists