<a href="https://colab.research.google.com/github/tanisha1407/python-notebooks/blob/master/LOOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***LOOPS***

--Loops are used to execute a block of code multiple times.



--for loop and while loop

-- iterable data types are string,tuple,list,dictionary


integer is not iterable.

**FOR LOOP**

--syntax:

    for variable_name in iterabledatatype:
    code to be executed

--works on iterable data types

iterable data types are string,tuple,list,dictionary

integer is not iterable.

In [ ]:
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
a=[1,2,3,4,5]
for i in a:
  print(i*200)

200
400
600
800
1000

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
a="banana"
for i in a:
  print(i)

b
a
n
a
n
a

**INPUT FUNCTION**

--input () allows us to take input from user

--it takes string input only so we use data conversion methods to input other data types

In [ ]:
b=input("enter a number")
for i in b:
  print(i)

enter a number3
3

In [ ]:
a=[1,2,3,4,5]
b=int(input())
for i in a:
  print(b*i)

5
5
10
15
20
25

**RANGE FUNCTION**

--provides sequesnce in given range

--syntax:range(start,end+1)

In [ ]:
for i in range(10,20):
  print(i)

10
11
12
13
14
15
16
17
18
19

In [ ]:

a=int(input('enter number='))
for i in range(1,11):
  print(a*i)

enter number=5
5
10
15
20
25
30
35
40
45
50

In [ ]:
a=int(input('enter number :'))
for i in range(1,11):
     print(f'{a}X {i} = {a*i}')

enter number :5
5X 1 = 5
5X 2 = 10
5X 3 = 15
5X 4 = 20
5X 5 = 25
5X 6 = 30
5X 7 = 35
5X 8 = 40
5X 9 = 45
5X 10 = 50

In [ ]:
t=(1,2,3,4,5)
for i in t:
  print(5*i)

5
10
15
20
25

In [ ]:
d1={'a':1,'b':2,'c':3}
for i in d1:#by default for loop on dictionary gives keys
  print(i*4)

aaaa
bbbb
cccc

In [ ]:
d2={'a':1,'b':2,'c':3}
for i in d2.values():#to get values we use values()
  print(i*4)

4
8
12

In [ ]:
d2={'a':1,'b':2,'c':3}
for i in d2.items():#to get both keys and values we use items()
  print(i)

('a', 1)
('b', 2)
('c', 3)

In [ ]:
city='jaipur'
for i in city:
  print(i*5)

jjjjj
aaaaa
iiiii
ppppp
uuuuu
rrrrr

In [ ]:
#number=1234 #integer is not iterable datatype
#for i in number:
 # print(i)

**WHILE LOOP**

--syntax:
    
    while condition:
       code to run

In [ ]:
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=5
while i>0:
  print(i)
  i-=1

5
4
3
2
1

In [ ]:
print('printing odd numbers:')
i=1
while i<=10:
  print(i)
  i+=2

printing odd numbers:
1
3
5
7
9

In [ ]:
print('printing even numbers:')
i=2
while i<=10:
  print(i)
  i+=2

printing even numbers:
2
4
6
8
10

In [ ]:
print('printing odd numbers in reverse:')
i=9
while i>=1:
  print(i)
  i-=2

printing odd numbers in reverse:
9
7
5
3
1

In [ ]:
print('printing even numbers in reverse:')
i=10
while i>=1:
  print(i)
  i-=2

printing even numbers in reverse:
10
8
6
4
2

In [ ]:
print('printing 2 table:')
i=1
while i<=10:
  print( f'{2}x{i}={2*i}')
  i+=1

printing 2 table:
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [ ]:
print('printing 3 table:')
i=1
while i<=10:
  print(f'{3}x{i}={3*i}')
  i+=1

printing 3 table:
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30

In [ ]:
print('printing a table with user input')
a=int(input('enter a number'))
i=1
while i<=10:
  print(f'{a}x{i}={a*i}')
  i+=1

printing a table with user input
enter a number6
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60

**NESTED LOOPS**

--a loop inside a loop

syntax:
    
    #for variable in iterabletype:
      #for variable in iterabletype2:
         #code to execute

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i,j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[1,2,3]
for i in a:
  for j in b:
    print(f'a......{i},b......{j}')

a......1,b......1
a......1,b......2
a......1,b......3
a......2,b......1
a......2,b......2
a......2,b......3
a......3,b......1
a......3,b......2
a......3,b......3
a......4,b......1
a......4,b......2
a......4,b......3
a......5,b......1
a......5,b......2
a......5,b......3
a......6,b......1
a......6,b......2
a......6,b......3
a......7,b......1
a......7,b......2
a......7,b......3
a......8,b......1
a......8,b......2
a......8,b......3
a......9,b......1
a......9,b......2
a......9,b......3
a......10,b......1
a......10,b......2
a......10,b......3

In [ ]:
a='jaipur'
b='indore'
for i in a:
  for j in b:
    print(i,j)

j i
j n
j d
j o
j r
j e
a i
a n
a d
a o
a r
a e
i i
i n
i d
i o
i r
i e
p i
p n
p d
p o
p r
p e
u i
u n
u d
u o
u r
u e
r i
r n
r d
r o
r r
r e

In [ ]:
a=input('enter a number')
for i in a:
  for j in range(1,11):
    print(f'{i}x{j}={i*j}')

enter a number7
7x1=7
7x2=77
7x3=777
7x4=7777
7x5=77777
7x6=777777
7x7=7777777
7x8=77777777
7x9=777777777
7x10=7777777777

In [ ]:
#on tuple
a=(1,2,3)
b=(4,5,6)
for i in a:
  for j in b:
    print(j,i)

4 1
5 1
6 1
4 2
5 2
6 2
4 3
5 3
6 3

**CONTROL STATEMENTS:**

--conditions inside a loop:break,continue and pass and also else

-->BREAK:breaks or terminates the loop prematurely(before completion )when conditional statement is satisfied.

-->COMPLETE:doesn't runs the loop for the particular condition given or skips the rest of code for current iteration

-->PASS:just a placeholder for some code to be given in future

-->ELSE:will run after the loop is completed

In [ ]:
for i in range(1,11):
  if i==5:
    break #break the loop when i==5
  print(i)

1
2
3
4

In [ ]:
for i in range(1,11):
  if i==5:
    continue #continue the loop when i==5
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range(1,11):
  if i==5:
    pass
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,6):
  print(i)
else:
    print('loop completed')

1
2
3
4
5
loop completed

In [ ]:
for i in range(1,8):
  if i==7:
    break
  print(i)

1
2
3
4
5
6

In [ ]:
for i in range(1,8):
  if i==6:
    continue
  print(i)

1
2
3
4
5
7

In [ ]:
for i in range(1,8):
  if i==7:
    pass
  print(i)

1
2
3
4
5
6
7

In [ ]:
for i in range(1,8):
    print(i)
else:
    print('loop completed')

1
2
3
4
5
6
7
loop completed

**INFINITE LOOP**

In [ ]:
#will give infinite output
#while True:
 #print('hello')

**ENUMERATE FUNCTION**

gives you element as well as its corresponding index.

In [ ]:
fruits=['apple','banana','cherry']
for index,fruit in enumerate(fruits):
  print(index,fruit)

0 apple
1 banana
2 cherry

In [ ]:
#fetching key and values
dic={'a':1,'b':2,'c':3}
for key,value in dic.items():
  print(key,value)

a 1
b 2
c 3

**CREATING LIST,DICTIONARY AND SET USING LOOPS**
**(OR USING LIST,DICTIONARY AND SET COMPREHENSION)**

In [ ]:
a_normal=[x for x in range(1,11)] #list comprehension
print(a_normal)
a_squared=[x**2 for x in range(1,11)] #list comprehension
print(a_squared)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
dict1={x:x for x in range(2,11)} #dictionary comprehension
print(dict1)
dict2={x:x*6 for x in range(2,11)} #dictionary comprehension
print(dict2)

{2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}
{2: 12, 3: 18, 4: 24, 5: 30, 6: 36, 7: 42, 8: 48, 9: 54, 10: 60}

In [ ]:
set1={x for x in range(4,11)} #set comprehension
print(set1)
set2={x*11 for x in range(4,11)} #set comprehension
print(set2)
print(sorted(set2))

{4, 5, 6, 7, 8, 9, 10}
{66, 99, 44, 77, 110, 55, 88}
[44, 55, 66, 77, 88, 99, 110]