<a href="https://colab.research.google.com/github/tanisha1407/python-notebooks/blob/master/MAPPING_DATA_TYPE_DICTIONARIES_AND_OPERATIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MAPPING**

--Mappig data type includes dictionary

--used in data science

--Can be created using curly braces

syntax:my_dict={'key1':value,'key2':value,'key3':value,....}

ex-mydict={'name':'tanisha','city':'jaipur','age':20,'id':22}

--Keys should be unique and immutable

--Values does not need to be unique

--Can also be created by using constructor

syntax:dict()constructor

ex-mydict=dict(name='tanisha',city='jaipur',age=20)

In [ ]:
A={'name':'tanisha','city':'jaipur','age':20,'id':22,'course':'data science'} #by using curly braces
print('A=',A)
B=dict(name='tanisha',city='jaipur',age=20)#by using constructor
print('B=',B)

A= {'name': 'tanisha', 'city': 'jaipur', 'age': 20, 'id': 22, 'course': 'data science'}
B= {'name': 'tanisha', 'city': 'jaipur', 'age': 20}

**ACCESSING AN ELEMENT**

--Accessing element in a dictionary is also done by two methods by square bracket or get method

syntax:dictionaryname[key] #square bracket method

ex-print(A['name'])

syntax:dictionaryname.get(key)

ex-print(B.get('name'))

--when we are given a nested dictionary ={'key1':{'key2':'value'}}

syntax:dictioaryname([parent key],[nested key])

In [ ]:
print('##Accesing name from A')
print(A['name'])#by using square bracket method
print('##Accesing course from A')
print(A.get('course'))
print(B.get('pincode','try something else'))#pincode doesnt exists in dictionary so it print other arguement
d = {'customer': {'name':'tanisha'}}
print(d['customer']['name'])

##Accesing name from A

NameError: name 'A' is not defined

**UPDATING ELEMENTS IN A DICTIONARY**

--dictionaryname['key']='updated_value'

In [ ]:
print('##Updating name to manvi  and city to indore and adding pincode in B')
B['name']='manvi' #updating values to any key
print(B)
B['city']='indore'
print(B)
B['pincode']=302026
print(B)

##Updating name to manvi  and city to indore and adding pincode in mydict
{'name': 'manvi', 'city': 'jaipur', 'age': 20}
{'name': 'manvi', 'city': 'indore', 'age': 20}
{'name': 'manvi', 'city': 'indore', 'age': 20, 'pincode': 302026}

**MODIFY OR ADD ELEMENTS**

--dictionaryname['newkey']='value'

In [ ]:
A['stream']='data analytics'
print(A)
B['father']='tapan jain'
print(B)

{'name': 'tanisha', 'id': 22, 'course': 'data science', 'stream': 'data analytics'}
{'name': 'manvi', 'city': 'indore', 'age': 20, 'pincode': 302026, 'father': 'tapan jain'}

**DELETING AN KEY AND ITS VALUE**

-- del keyword is used

syntax: del dictionaryname['key']

--pop method

dictionaryname.pop('key)

In [ ]:
A1={'name':'tanisha','city':'jaipur','age':20,'id':22,'course':'data science'}
print(A1)
del A1['course']
print(A1)
A1.pop('age')
print(A1)
a=A1.pop('id')
print(a)

{'name': 'tanisha', 'city': 'jaipur', 'age': 20, 'id': 22, 'course': 'data science'}
{'name': 'tanisha', 'city': 'jaipur', 'age': 20, 'id': 22}
{'name': 'tanisha', 'city': 'jaipur', 'id': 22}
22

**BUILT IN METHODS**

--key() will print alll keys in dictionary(list)

--values() will print alll values in dictionary(list)

--items() will print all key value pairs in the dictionary

--update() can add multiple key value pairs or another dictionary into an existing dictionary

--clear() will delete all key value pairs of dictionary

In [ ]:
C={'office':'regeex','hr':['prachi','karishma'],'city':'jaipur'}
print(C)
print(C.keys())
print(C.values())
print(C.items())
print(C.update({'course':'data science','area':'gopalpura','trainer':'snigdha'}))
print(C)
C.clear()
print(C)

{'office': 'regeex', 'hr': ['prachi', 'karishma'], 'city': 'jaipur'}
dict_keys(['office', 'hr', 'city'])
dict_values(['regeex', ['prachi', 'karishma'], 'jaipur'])
dict_items([('office', 'regeex'), ('hr', ['prachi', 'karishma']), ('city', 'jaipur')])
None
{'office': 'regeex', 'hr': ['prachi', 'karishma'], 'city': 'jaipur', 'course': 'data science', 'area': 'gopalpura', 'trainer': 'snigdha'}
{}