<a href="https://colab.research.google.com/github/tanisha1407/PYTHON--notebooks/blob/master/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ARITHMATIC OPERATORS**

+,-,multiply,/,//,%,exponential

In [ ]:
x=5
y=8
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

13
-3
40
0.625
5
390625
0

**Comparison operators**

**==,!=,<=,>=,<,>**

In [ ]:
a=6
b=9
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a<b)
print(a>b)

False
True
True
False
True
False

**Assignment operators**

In [ ]:
x=9
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)
x//=3
print(x)
x**=3
print(x)

12
9
27
9.0
0.0
0.0
0.0

**Logical operator(and, or, not)**

In [ ]:
x=True
y=False
print(x and y)
print(x or y)
print(not y)
print(not x)

False
True
True
False

**Membership operator**

In [ ]:
name='tanisha'
print('a' in name)
print('tan' in name)
print('zan' in name)
print('a' not in name)
print('tan' not in name)

True
True
False
False
False

**IDENTITY OPERATOR**

In [ ]:
a=[1,2,3]
b=[1,2,3]
print(a == b) #checks whether the elements are same or not
print(a is b) #this checks memory address
print(id(a)) #id() gives us the memory location of any variable
print(id(b))

True
False
140515358670720
140515358461952

In [ ]:
a=12
b=12
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
140516641063504
140516641063504

**BITWISE OPERATOR**

AND(&),OR(|) AND XOR(^)

in this and,or,xor operations are perfomed on binary sequence of any teo decimal number and then the decimal value of resultant binary sequence is given as output

In [ ]:
a=10
b=4
#10=1010
#4=0100
print(a&b)
#1010 & 0100=0000 which is 0
print(a|b)
#1010 | 0100=1110 which is 14
print(a^b)
#1010 ^ 0100=1110 which is 14

0
14
14

ARITHMATIC OPERATOR(BODMAS)

in python it works as PEMDAS

Parenthesis

Exponent

Multiply or Division whichever coomes first

Addition or subtraction whichever is first

In [ ]:
1+5/5*6+4-7**2

-38.0