<a href="https://colab.research.google.com/github/tanisha1407/python-notebooks/blob/master/SET_DATA_TYPE_AND_OPERATIONS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***SETS***

--unordered

--unindexed

--The values True and 1 are considered the same value in sets, and are treated as duplicates.The values False and 0 are considered the same value in sets, and are treated as duplicate.

--immutable collection pf items or elements

--starts with curly braces


USES:

--it doenst allows duplicate values or automatically removes them

--used for mathematical operations like union,intersection and difference

--syntax:set_name={elements}

--can be made using constructor

syntax:setname=set()

only one arguement in constructor method

In [ ]:
a={1,2,3,4} #using {}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4}

In [ ]:
b={1,2,3,4,4,4}
print(b)

{1, 2, 3, 4}

In [ ]:
fruits={"apple","banana","cherry"}
print(fruits)

{'banana', 'cherry', 'apple'}

In [ ]:
c=set([1,2,3,4]) #using constructor
print(c)

{1, 2, 3, 4}

In [ ]:
letter=set("apple") #using constructor and outpuct is unordered
print(letter)

{'a', 'p', 'e', 'l'}

In [ ]:
a=set('1234563126482746636283')#using constructor method we can have only one arguement

print(a)

{'6', '8', '4', '5', '1', '7', '3', '2'}

**ADDING ELEMENT IN A SET**

--syntax:setname.add(element)

In [ ]:
a={1,2,3,4}
a.add(5)
print(a)
a.add(4)# 4 already exists and set doesnt allows duplicacy
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

**REMOVING ELEMENT IN A SET**

--syntax:setname.remove(element to be removed)

In [ ]:
a={1,2,3,4}
a.remove(4)
print(a)
a.remove(5) #error because 5 doesn't exists
print(a)

{1, 2, 3}

KeyError: 5

**POP METHOD**

--pops out first element out of set

--no arguement is given in pop()

--syntax:setname.pop()

In [ ]:
a={1,2,3,4}
a.pop() #will remove 1
print(a)
a.pop() #will remove 2
print(a)
a.pop() #will remove 3
print(a)
a.pop() #will remove 4
print(a)
a.pop() #error because set is empty
print(a)

{2, 3, 4}
{3, 4}
{4}
set()

KeyError: 'pop from an empty set'

**DISCARD METHOD ON SET**

--remove and discared both mthods remove elements from set but discard method doesnot throw any error if element is not present in set.

--syntax:setname.discard(element)

In [ ]:
a={1,2,3,4}
a.discard(4)
print(a)
a.discard(5) #no error
print(a)

{1, 2, 3}
{1, 2, 3}

**MEMBERSHIP CHECKING IN SET**

--in operator is used

In [ ]:
a={1,2,3,4}
print(1 in a)
print(5 in a)
print(5 not in a)

True
False
True

**CLEAR METHOD**

--clear method removes all elements of set but structure of set is there

--syntax:setname.clear()


**DELETE METHOD**

--del keyword is used

--it deletes structure of set too

--syntax: del setname

In [ ]:
a={1,2,3,4}
a.clear()
print(a)
del a
print(a) #error because set is deleted

set()

NameError: name 'a' is not defined

**ARITHMATIC OPERATIONS ON SET**

**UNION**

--syntax:set1.union(set2)

--will combine both sets and will remove duplication

In [ ]:
a={1,2,3,4}
b={3,4,5,6}
print(a.union(b))

{1, 2, 3, 4, 5, 6}

**INTERSECTION**

--syntax:set1.intersection(set2)

--will give the common element present in both sets

In [ ]:
a={1,2,3,4}
b={3,4,5,6}
print(a.intersection(b))

{3, 4}

**DIFFERENCE**

--syntax:set1.difference(set2)

-- will give those elements of set1 which are not present in set2

In [ ]:
a={1,2,3,4}
b={3,4,5,6}
print(a.difference(b))
print(b.difference(a))

{1, 2}
{5, 6}

**SYMMETRIC DIFFERENCE**

--syntax:set1.symmetricdifference(set2)

--will give those elements which are not common in both sets

In [ ]:
a={1,2,3,4}
b={3,4,5,6}
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{1, 2, 5, 6}
{1, 2, 5, 6}

**FROZEN SET**

--syntax:frozenset()

--frozen set do not allows addition or removal of elements but allows all arithmatic operations

In [ ]:
a={1,2,3,4}
b={3,4,5,6}
c=frozenset(a)
d=frozenset(b)
print(c)
print(d)
print(type(c))
print(type(d))
print(c.union(d))
print(c.intersection(d))
print(c.difference(d))
print(c.symmetric_difference(d))

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
<class 'frozenset'>
<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})